.layer1{background:url(../img/luntan2/1.jpg) no-repeat;background-size: 100% 100%;z-index:2;}
        .layer1 .layer1-1{background:url(../img/luntan2/1-1.png) no-repeat;background-size: 100% 100%;width:22.19%;height:12.48%;top:81.46%;left:39.06%;}
        .layer1 .layer1-10{background:url(../img/luntan2/1-10.png) no-repeat;background-size: 100% 100%;width:29.69%;height:2.55%;top:42.79%;left:35.00%;}
        .layer1 .layer1-11{background:url(../img/luntan2/1-11.png) no-repeat;background-size: 100% 100%;width:4.69%;height:2.64%;top:32.78%;left:13.91%;}
        .layer1 .layer1-12{background:url(../img/luntan2/1-12.png) no-repeat;background-size: 100% 100%;width:4.69%;height:2.64%;top:32.78%;left:81.88%;}
        .layer1 .layer1-13{background:url(../img/luntan2/1-13.png) no-repeat;background-size: 100% 100%;width:71.72%;height:40.25%;top:13.27%;left:14.37%;}
        .layer1 .layer1-14{background:url(../img/luntan2/1-14.png) no-repeat;background-size: 100% 100%;width:17.03%;height:9.67%;top:83.48%;left:41.72%;}
        .layer1 .layer1-15{opacity:0.5;transform-origin:50% 100%;background:url(../img/luntan2/1-13.png) no-repeat;background-size: 100% 100%;width:143.12%;height:80.49%;top:14.59%;left:-21.56%;}
        .layer1 .layer1-2{background:url(../img/luntan2/1-2.png) no-repeat;background-size: 100% 100%;width:16.88%;height:9.67%;top:82.86%;left:41.72%;}
        .layer1 .layer1-3{background:url(../img/luntan2/1-3.png) no-repeat;background-size: 100% 100%;width:80.62%;height:45.43%;top:8.70%;left:9.69%;}
        .layer1 .layer1-4{background:url(../img/luntan2/1-4.png) no-repeat;background-size: 100% 100%;width:97.81%;height:55.10%;top:38.93%;left:1.09%;}
        .layer1 .layer1-6{background:url() no-repeat;background-size: 100% 100%;width:78.12%;height:43.94%;top:9.40%;left:10.94%;}
        .layer1 .layer1-7{background:url(../img/luntan2/1-7.png) no-repeat;background-size: 100% 100%;width:43.25%;height:24.7%;top:29.3%;left:28.75%;}
        .layer1 .layer1-8{background:url(../img/luntan2/1-8.png) no-repeat;background-size: 100% 100%;width:38.28%;height:5.27%;top:36.99%;left:31.41%;}
        .layer1 .layer1-9{background:url(../img/luntan2/1-9.png) no-repeat;background-size: 100% 100%;width:52.81%;height:5.18%;top:41.65%;left:23.75%;}
            @keyframes mapJump {
            0% {transform:translateY(0);}
            20% {transform:translateY(0);}
            40% {transform:translateY(-15px);}
            50% {transform:translateY(0);}
            60% {transform:translateY(-7px);}
            80% {transform:translateY(0);}
            100% {transform:translateY(0);}
        }
        @-webkit-keyframes mapJump {
            0% {-webkit-transform:translateY(0);}
            20% {-webkit-transform:translateY(0);}
            40% {-webkit-transform:translateY(-15px);}
            50% {-webkit-transform:translateY(0);}
            60% {-webkit-transform:translateY(-7px);}
            80% {-webkit-transform:translateY(0);}
            100% {-webkit-transform:translateY(0);}
        }
        .right{
            animation: mapJump 2s infinite;
            -webkit-animation: mapJump 2s infinite;
            position:absolute;right: 45%;
           }
		   @keyframes flush {
            0% {transform:scale(1.1);opacity:1;}
            50% {transform:scale(0.9);opacity:0.5;}
            100% {transform:scale(1.1);opacity:1;}
        }
        @-webkit-keyframes flush {
            0% {-webkit-transform:scale(1.1);opacity:1;}
            50% {-webkit-transform:scale(0.9);opacity:0.5;}
            100% {-webkit-transform:scale(1.1);opacity:1;}
        }
        .flush{
            animation: flush 2s infinite;
            -webkit-animation: flush 2s infinite;
        }
		.text1-7{
	color:#FFFFFF;
	font-size:12px;
	font-family:Helvetica, Microsoft YaHei,Verdana, Arial;
	position:absolute;
	text-align:center;
	width:100%;
	height:4%;
	left:0;
}
.text1{
	top:89.3%;
	width:30%;
	margin-left:70%;
}		
.text2{

	top:54.2%;
}		
.text3{
	top:59.0%;
}		
.text4{
	top:62.0%;
}		
.text5{
	top:66.6%;
}
.text6{
	top:73.0%;
}		
.text7{
	top:78%;
}